:root{
    --text-color:#626A77;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #eee;    
}
ul li img{
    width: 15px;
    height: 15px;
}
ul li:nth-child(8){
    margin-bottom: 0;
}
.container{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
} 
/* Basic breakpoints */
        @media (min-width: 576px) { 
            .container { max-width: 540px; } 
        }
        
        @media (min-width: 768px) { 
            .container { max-width: 720px; } 
        }
        
        @media (min-width: 992px) { 
            .container { max-width: 960px; } 
        }
        
        @media (min-width: 1200px) { 
            .container { max-width: 1140px; } 
        }
/* End Global rules */
/* start header */
header{
    padding: 40px;
    text-align: center;
    background-color: #F9FAFC;
    background-image: url(../images/bg-pattern.png);
    border-bottom: 1px solid #eee;    
}
header h1{
    margin-bottom: 15px;
}
header p{
    max-width: 440px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.6;
    color:var(--text-color);
}
/* end header */
/* start pricing */
.pricing{
    padding: 30px 0;
    display: flex;
    align-items: end;
    justify-content: center;
}
.pricing .list ul{
    background-color: #F9FAFC;
    width: fit-content;
    border-radius: 10px 0 0 10px;
}
.pricing .list ul li{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
@media(max-width: 767px){
    .pricing .list{
        width: 89px;
    }    
    .pricing .list ul li{
    width: 89px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}
.pricing .list ul .id{
    border: none;
}
.pricing .column .head{
    text-align: center;
    padding: 15px;
} 
.pricing .column .head span:nth-child(1){
    display: block; 
    color: #273FA9;
    font-weight: 600;  
}
.pricing .column .head span:nth-child(2){
    display: block;
    font-size: 50px;
    font-weight: 600;
}
.pricing .column .head span:nth-child(3){
    color: var(--text-color);
    font-weight: 600;
}
@media(max-width: 1124px){
    .pricing .one{
        display: none;
    }
}
@media(max-width: 991px){
    .pricing .tow{
        display: none;
    }
}
@media(max-width: 767px){
    .pricing .four{
        display: none;
    }
}
.pricing .column ul{
    text-align: center;
    width: 200px;    
}
.pricing .list .geet{
    visibility: hidden;
    padding: 20px;
}
@media(max-width: 767px){
    .pricing .list .geet{
        padding: 8px;
    }   
}
.pricing .column .get{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
    color: #273FA9; 
    font-weight: 600;   
}
.pricing .black{
    background-color: #121726;
    color: white;
    border-radius: 15px;    
}
@media(max-width: 767px){
    .pricing .black{
        order: 1;
    }  
}
.pricing .black .head span:nth-child(1){
    color: white;
    background-color: #273fa9;
    width: fit-content;
    margin: 0 auto;
    padding: 1px 30px;
    border-radius: 13px;    
}
.pricing .black .head span:nth-child(3){
    color: #A3A3A3;
}
.pricing .black ul li{
    border-color: #121726;
    color: #A3A3A3;
}
.pricing .black .get{
    background-color: #7C4F1E;
    color: white;
    border-radius: 0 0 15px 15px;
}

/* end pricing */